<div class="container">
  <div class="header">
    <img src="assets/solv.png" />
  </div>
  <div class="content">
    <div class="list">
      <div class="list-header flex flex-col justify-center items-center">
        <button mat-raised-button color="primary" (click)="addCompany()">
          Add Company
        </button>
      </div>
      <app-list
        [company$]="allCompany$"
        (companyEmitter)="selectCompany($event)"
      ></app-list>
    </div>
    <app-detail
      [company]="selectedCompany"
      *ngIf="selectedCompany"
      (deleteCompany)="deleteCompany()"
      (updateCompany)="updateCompany()"
    ></app-detail>
  </div>
  <button mat-raised-button class="mt-6" (click)="logout()">Logout</button>
</div>
