<div class="flex flex-col h-screen justify-center items-center">
  <div
    class="flex flex-col justify-center bg-gray-300 items-center p-8 rounded-xl"
  >
    <form
      class="flex flex-col justify-center items-center"
      [formGroup]="formReg"
      (ngSubmit)="onSubmit()"
    >
      <h2>Registro de usuario</h2>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          matInput
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          matInput
        />
      </mat-form-field>
      <button mat-raised-button color="accent">Register</button>
    </form>
    <button class="mt-4" mat-raised-button color="primary" (click)="goLog()">
      Go to Login
    </button>
  </div>
</div>
